*
!core/
core/*
!core/net/
core/net/*
!core/net/uip.h
!core/net/uip6.c

!examples/
examples/*
!examples/ipv6
examples/ipv6/*
!examples/ipv6/rpl-udp
examples/ipv6/rpl-udp/*
!examples/ipv6/rpl-udp/udp-client.c
!examples/ipv6/rpl-udp/udp-server.c

!.gitignore
